[% PROCESS header %]

<h3>Image Assets</h3>
<h4>mobo-bentsnipped.jpg</h4>
<p>80K  JPEG image data, JFIF standard 1.01</p>

<hr/>
<div class="imgbar">
<img src="/pic/mobo-bentsnipped.jpg"/>
</div>

[% INCLUDE footer %]
