[% PROCESS header %]

<h3>Image Assets</h3>
<h4>mobo-right.jpg</h4>
<p>42K  JPEG image data, JFIF standard 1.01, resolution (DPI), density 120x120, segment length 16, Exif Standard</p>

<hr/>
<div class="imgbar">
<img src="/pic/mobo-right.jpg"/>
</div>

[% INCLUDE footer %]
