[% PROCESS header %]

<h3>Image Assets</h3>
<h4>PRG-V9-xcable.jpg</h4>
<p>250K  JPEG image data, JFIF standard 1.01, aspect ratio, density 1x1, segment length 16, progressive, precision 8, 898x530, components 3</p>

<hr/>
<div class="imgbar">
<img src="/pic/PRG-V9-xcable.jpg"/>
</div>

[% INCLUDE footer %]
