[% PROCESS header %]

<h3>Image Assets</h3>
<h4>PRG-V9-reset.jpg</h4>
<p>172K  JPEG image data, JFIF standard 1.01, aspect ratio, density 1x1, segment length 16, progressive, precision 8, 898x396, frames 3</p>

<hr/>
<div class="imgbar">
<img src="/pic/PRG-V9-reset.jpg"/>
</div>

[% INCLUDE footer %]
