[% PROCESS header %]

<h3>Image Assets</h3>
<h4>V1-topview-withshield.png</h4>
<p>9.4M  PNG image data, 1990 x 1236, 8-bit/color RGBA, non-interlaced</p>

<hr/>
<div class="imgbar">
<img src="/pic/V1-topview-withshield.png"/>
</div>

[% INCLUDE footer %]
