[% PROCESS header %]

<h3>Image Assets</h3>
<h4>V2int-snipped.jpg</h4>
<p>51K  JPEG image data, JFIF standard 1.01</p>

<hr/>
<div class="imgbar">
<img src="/pic/V2int-snipped.jpg"/>
</div>

[% INCLUDE footer %]
