[% PROCESS header %]

<h3>Image Assets</h3>
<h4>V2int-bending.jpg</h4>
<p>35K  JPEG image data, JFIF standard 1.01, resolution (DPI), density 120x120, segment length 16, Exif Standard</p>

<hr/>
<div class="imgbar">
<img src="/pic/V2int-bending.jpg"/>
</div>

[% INCLUDE footer %]
