[% PROCESS header %]

<h3>Image Assets</h3>
<h4>V2int-topview-shielded.jpg</h4>
<p>2.0M  JPEG image data, JFIF standard 1.01</p>

<hr/>
<div class="imgbar">
<img src="/pic/V2int-topview-shielded.jpg"/>
</div>

[% INCLUDE footer %]
