<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng_3.5-1_all.deb?raw=true'>onerng_3.5-1_all.deb</a> (9.6K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: 9f4a596aed6a0ab5b79c74c26292c6b0898496bf21dc68f2f6e70fe162494cc1
   MD5: aa5f4ae697b49b418c87ca29a978bd15</pre></li>
<li>Install:<pre>sudo dpkg -i onerng_3.5-1_all.deb