<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng_3.3.orig.tar.gz?raw=true'>onerng_3.3.orig.tar.gz</a> (102K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: 19d4960fec245526652c9e6a54dcdb2838a71d812af6c2aa918286519849ca1b
   MD5: 8108b6b91498d178d9c65d4ed3ab78f2</pre></li>
<li>Install:<pre>tar xzf onerng_3.3.orig.tar.gz