<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng_3.6.orig.tar.gz?raw=true'>onerng_3.6.orig.tar.gz</a> (106K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: 66a6d4be9725642488c33effa04b389bf24e4dd66b45f7316f3403142c1d80a3
   MD5: f1ffd033c56c9d66425304cef7d50f68</pre></li>
<li>Install:<pre>tar xzf onerng_3.6.orig.tar.gz