<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng_3.7.orig.tar.gz?raw=true'>onerng_3.7.orig.tar.gz</a> (130K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: cf53c56fca9eed7f3c93db4ad949ccebc629725b52fbedc4b10761d0c7fe9d3c
   MD5: 7abe6589491788b881e82528f5c80a20</pre></li>
<li>Install:<pre>tar xzf onerng_3.7.orig.tar.gz