<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng-3.5-1.fc20.noarch.rpm?raw=true'>onerng-3.5-1.fc20.noarch.rpm</a> (11K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: edfdf2446b98e150a0414f226863d058a24111fae185fec258204a3eeed33da5
   MD5: 36ef9e4a833836bc26ce3feef548dd47</pre></li>
<li>Install:<pre>sudo rpm -i onerng-3.5-1.fc20.noarch.rpm