<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng-3.1-1.fc21.noarch.rpm?raw=true'>onerng-3.1-1.fc21.noarch.rpm</a> (13K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: 1ee3a6d2e82b8b9952ce7e32659355bfc9ec5122475dc8a319183311f4694584
   MD5: 481789ac49a8c4f4a5383cbf5912c937</pre></li>
<li>Install:<pre>sudo rpm -i onerng-3.1-1.fc21.noarch.rpm