<li>Download the package (via HTTPS from GitHub): <a href='https://github.com/OneRNG/onerng.github.io/blob/master/sw/onerng-3.7-1.fc33.noarch.rpm?raw=true'>onerng-3.7-1.fc33.noarch.rpm</a> (15K)</li>
<li>Verify the package checksum<br/>
<pre>SHA256: 00a793e7f73c060682fee6ae98fe13db629fce4eaa465637b7bfab35f136e770
   MD5: f499b3bca5799dd385252507c382bc58</pre></li>
<li>Install:<pre>sudo rpm -i onerng-3.7-1.fc33.noarch.rpm