[% PROCESS header %]

<h3>Image Assets</h3>
<h4>BoardNoHat.png</h4>
<p>PNG image data, 1846 x 792, 8-bit/color RGBA, non-interlaced</p>

<hr/>
<div class="imgbar">
<img src="img/BoardNoHat.png"/>
</div>

[% INCLUDE footer %]
