[% PROCESS header %]

<h3>Image Assets</h3>
<h4>OneRNG-v2-hw.png</h4>
<p>6.9M PNG image data, 2000 x 900, 8-bit/color RGBA, non-interlaced</p>

<hr/>
<div class="imgbar">
<img src="img/OneRNG-v2-hw.png"/>
</div>

[% INCLUDE footer %]
